<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>




<input type="text" id="artist" name="artist"><button type="button" id="button">Click Me!</button><br><br>




<script>


document.getElementById("button").addEventListener("click", function() {


  httpRequest = new XMLHttpRequest();

    //httpRequest.onreadystatechange = event.key;

    httpRequest.open("POST", '/search/', true);

   function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    console.log(decodedCookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {

            return c.substring(name.length, c.length);
        }
    }
    return "";
}

    var csrftoken = getCookie('csrftoken');


    httpRequest.setRequestHeader("X-CSRFToken",csrftoken);
    httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");


    httpRequest.send(document.getElementById("artist").value);

});

</script>
</body>
</html>